@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #03045e;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #caf0f8;
    color: #f89411
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

.river-title {
    color: rgb(3, 4, 94);
    font-family: Rock Salt, 'Bradley Hand', sans-serif;
    font-size: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.button-box {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

#background {
    display: grid;
    grid-column: 1 / 11;
    grid-row: 4 / 9;
    height: 725px;
    background-color: #125de7;
}

body {
    background-color: #10DEB8;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #90e0ef
}

.book {
    background-color: rgb(252, 169, 5);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #caf0f8;
    color: black
}

.join {
    background-color: rgb(252, 169, 5);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #caf0f8;
    color: black
}

.msg {
    display: grid;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #f89411;
    font-family: Rock Salt, 'Bradley Hand', sans-serif;
    font-size: 22px;
}

.msg p {
    color: #f89411;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color: #90e0ef;
    color: black;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}

footer p a:hover {
    color: #f89411;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr  1fr;
}

.home-title {
    color: white;
    font-family: Rock Salt, 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: white
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.card-img, .mountains {
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 200px 0;
}

.camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    margin: 200px 0;
}

.rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.mountains {
    width: 100%;
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #6f7364;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 15px 15px 0px;
    font-family: Autour One;
    align-items: center;
    gap: 2%;
    padding-left: 1%;
}

.img1, .img3 {
    grid-column: 1;
    width: 100%;
    height: auto;
}

.img2 {
    grid-column: 2;
    width: 100%;
    height: auto;
}

.final-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.final-main div {
    padding: 10px;
} 

.river {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.event-title {
    color: rgb(3, 4, 94);
    font-family: Autour One, 'Bradley Hand', sans-serif;
    font-size: 40px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%; 
    text-align: center;
}

.event-img {
    max-width: 500px;
    max-height: 200px;
}

.container {
    font-family: Autour One, 'Bradley Hand', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}