@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #03045e;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #caf0f8;
    color: #f89411
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #125de7;
}

body {
    background-color: #10DEB8;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #90e0ef
}

.book {
    background-color: rgb(252, 169, 5);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #caf0f8;
    color: black
}

.join {
    background-color: rgb(252, 169, 5);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #caf0f8;
    color: black
}

.msg {
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #f89411;
    font-family: Rock Salt, 'Bradley Hand', sans-serif;
    font-size: 22px;
}

.msg p {
    color: #f89411;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color: #90e0ef;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: black;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}

footer p a:hover {
    color: #f89411;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: white;
    font-family: Rock Salt, 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: white
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}