@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Rock+Salt&display=swap');

header {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #ACC8E5
}

header img {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    grid-column: 2 / 5;
    text-align: center;
    padding: 5%;
}

nav a:hover {
    background-color: #1d3557;
    color: #D4AC0D
}

#program-img img {
    width: 100%;
    height: 300px;
}
  
main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.summary {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    place-items: center;
}

.summary h1 {
text-align: center;
}

.personal-img {
    grid-column: 2;
    width: 100%;
}

.summary p{
    grid-column: 1;
}

.summary img {
    grid-column: 2;
    width: 100%;
    padding:1px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ACC8E5
}

footer p {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    background-color: #ACC8E5;
    color: black;
}

footer .site-plan-link:hover {
    background-color: #1d3557;
    color: #D4AC0D
}

.social {
    display: flex;
    justify-content: space-around;
}

.social img {
    width: 50px;
}

.site-plan-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#programming {
    display: grid;
    grid-template-columns: 1fr;
}

header img {
    grid-column: 1;
}

.mission-main {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}

.mission-title .family-1 h1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.part-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
}

.part-1 img {
    grid-column: 1;
    width: 100%;
    height: auto;
}

.part-1 p {
    width: 100%;
    grid-column: 2 / 4;
    text-align: center;
}

.part-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.missionary-1 {
    grid-column: 1;
}

.missionary-2 {
    grid-column: 2;
}

.part-2 img {
    width: 100%;
}

.family-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5%;
}

.family-1 {
    grid-column: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.family-1 img {
    width: 300px;
}

.fpart-1 {
    grid-column: 1;
    grid-row: 2;
}

.fpart-2 {
    grid-column: 2;
    grid-row: 2;
}

.fpart-3 {
    grid-column: 1;
    grid-row: 3;
}

.fpart-4 {
    grid-column: 2;
    grid-row: 3;
}

.family-main img {
    width: 100%;
}

h1 {
    font-family: Rock Salt, 'Bradley Hand', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    background-color:#1d3557;
    font-size: 18px;
    color: #fff;
    padding: 1em;
    margin: 0;
}




  